################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleverGirl2/v15
/Debug
/x64/Debug
